@slide-offset: -15%;

@keyframes front-activity-in {
  0% {
    left: @slide-offset;
    opacity: 0;
    pointer-events: none;
  }
  99% {
    left: 0;
    opacity: 1;
    pointer-events: none;
  }
  100% {
    left: 0;
    opacity: 1;
    pointer-events: inherit;
  }
}

@keyframes front-activity-out {
  0% {
    left: 0;
    opacity: 1;
    pointer-events: none;
  }
  99% {
    left: @slide-offset;
    opacity: 0;
    pointer-events: none;
  }
  100% {
    left: @slide-offset;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@keyframes back-activity-in {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  99% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: inherit;
  }
}

@keyframes back-activity-out {
  0% {
    opacity: 1;
    pointer-events: none;
  }
  99% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

div.activity {
  transition: transform 300ms cubic-bezier(0.65, 0, 0.35, 1);
  position: absolute;
  width: 30vw;
  height: 100vh;
}

div.activity-closed {
  transform: translateX(-101%);
  pointer-events: none;
}

div.activity-btn-squid {
  position: absolute;
  box-sizing: border-box;
  padding: 1.5vmin;
  left: 100%;
  top: 0;
  width: 12vmin;
  height: 12vmin;
  border-radius: 0 3vmin 3vmin 0;
}

div.activity-btn-squid-img {
  background-image: url(/textures/Squid.webp);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: pointer;
}

div.activity-body-margin {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

div.activity-body-anim-visible {
  visibility: inherit;
}

div.activity-body-anim-hidden {
  visibility: hidden;
}

div.activity-body-anim-back-out {
  animation-name: back-activity-out;
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}

div.activity-body-anim-front-out {
  animation-name: front-activity-out;
  animation-timing-function: ease-in;
}

div.activity-body-anim-front-in {
  animation-name: front-activity-in;
  animation-timing-function: ease-out;
}

div.activity-body-anim-back-in {
  animation-name: back-activity-in;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

div.activity-body {
  position: absolute;
  box-sizing: border-box;
  padding: 1.5vmin;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

div.activity-body-subheader {
  display: inline;
  cursor: pointer;
}

div.activity-body-subheader:hover {
  text-decoration: underline;
}

div.activity-body-content-margin {
  position: relative;
  width: 100%;
  min-height: 0;
  flex-grow: 1;
  padding-top: 16px;
}
