div.card.card-small {
  width: 14vmin;
  height: 18vmin;
}

div.card.card-small div.card-body-inner {
  border-radius: 0.65vmin;
}

img.card-small-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.card-small-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3f4044;
  opacity: 0.8;
}

div.card-small-grid {
  position: absolute;
  left: 0.83vmin;
  top: 0.83vmin;
  transform: scale(1, 0.934);
  transform-origin: top left;
}

div.card-small-sz-meter {
  position: absolute;
  left: 0.55vmin;
  top: 13.5vmin;
  width: 4.44vmin;
  height: 4.07vmin;
  border-radius: 1vmin;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card-small-sz-meter span {
  color: white;
  font-family: Splatoon1;
}

div.card-small-sp-meter {
  position: absolute;
  left: 5.37vmin;
  top: 14.07vmin;
}
