div.card.card-small {
  width: 153px;
  height: 196px;
}

div.card.card-small div.card-body-inner {
  border-radius: 7px;
}

img.card-small-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.card-small-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3f4044;
  opacity: 0.8;
}

div.card-small-grid {
  position: absolute;
  left: 9px;
  top: 9px;
  transform: scale(1, 0.934);
  transform-origin: top left;
}

div.card-small-sz-meter {
  position: absolute;
  left: 6px;
  top: 146px;
  width: 48px;
  height: 44px;
  border-radius: 11px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card-small-sz-meter span {
  color: white;
  font-family: Splatoon1;
}

div.card-small-sp-meter {
  position: absolute;
  left: 58px;
  top: 152px;
}
