div.card.card-large {
  width: 31.85vmin;
  height: 44.44vmin;
}

div.card.card-large div.card-body-inner {
  border-radius: 2.315vmin;
}

img.card-large-card-bg {
  position: absolute;
  left: 0.65vmin;
  top: 0.83vmin;
  width: 30.556vmin;
  height: 42.778vmin;
}

img.card-large-ink {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(84.7%);
}

img.card-large-footer {
  position: absolute;
  width: 30vmin;
  height: 7.963vmin;
  left: 0.926vmin;
  top: 36.019vmin;
  opacity: 0.9;
}

img.card-large-frame {
  position: absolute;
  width: 100%;
  height: 100%;
}

div.card-large-inner-frame {
  position: absolute;
  left: 0.926vmin;
  top: 1.019vmin;
  width: 30vmin;
  height: 42.592vmin;
  padding: 0.370vmin;
  border-radius: 1.481vmin;
  box-sizing: border-box;
  // background-clip: border-box;
  background-size: 100% 100%;
  mask:
    linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
}

img.card-large-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

img.card-large-sz-count-base {
  position: absolute;
  width: 5.926vmin;
  height: 5.926vmin;
  left: 1.481vmin;
  top: 37.037vmin;
  transform: rotate(45deg);
}

div.card-large-sz-count {
  position: absolute;
  width: 0;
  height: 0;
  left: 4.630vmin;
  top: 36.852vmin;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: #efefef;
  font-family: Splatoon1;
  font-size: 1rem;
}

div.card-large-sz-count span.card-large-sz-count-text-0 {
  -webkit-text-stroke: 0.556vmin black;
}

div.card-large-sp-meter {
  position: absolute;
  left: 8.704vmin;
  top: 39.259vmin;
}

div.card-large-grid {
  position: absolute;
  left: 18.519vmin;
  top: 30.741vmin;
  transform-origin: center;
  transform: rotate(7deg);
}

div.card-large-name {
  position: absolute;
  height: 30%;
  left: 50%;
  transform-origin: center;
  display: flex;
  justify-content: center;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 100%;
  white-space: nowrap;
  color: transparent;
  font-family: Splatoon1;
  font-size: 1.25rem;
}

div.card-large-name span {
  padding-top: 2.963vmin;
}

div.card-large-name span.card-large-name-text-0 {
  -webkit-text-stroke: 0.741vmin black;
}
